# Python
*.pyc
__pycache__/
venv/
env/
dist/
build/
*.egg-info/
*.egg

# Poetry
.poetry/
.poetry.lock

# MLflow --> ignores the files related to MLflow (which is a kind of database)
mlruns/

# Data
data/